@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
@font-face {
    font-family: 'Bukhari Script';
    src: url('../fonts/BukhariScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --geral:#ffffff;
    --fundo:rgba(81, 81, 81, 0.061);
    --titulo: #606060;
    --titulo-sombra: #60606080;
    --texto: #202020;
    --card-background: #828282;
    --botoes: #ffde00;
    --botoes-hover:#ffdd00c6;
    --texto-destaque:#ffde00;
    --texto-botoes:#202020;
    --transition-speed: 0.3s;
}
body{
    background-color:var(--fundo);
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-header{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container-header .logo{
    position: absolute;
    left: 0;
}
.container-header .logo img{
    max-width: 150px;
    width: 100%;
}
.container-header .titulo-logo{
    display: flex;
    justify-content: center;
    font-family: 'Bukhari Script', cursive;
    font-style: italic;
    font-size:2rem;
    color:var(--titulo);
    text-align: center;
}
.modal-entrada,
.modal-principal,
.modal-sobremesa{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.modal-entrada .modal-content-cardapio, 
.modal-principal .modal-content-cardapio,
.modal-sobremesa .modal-content-cardapio{
    width: 50%;
    height: auto;
    max-height: 90vh;
    background-color: var(--geral);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.modal-entrada .modal-content-cardapio .modal-header-cardapio,
.modal-principal .modal-content-cardapio .modal-header-cardapio,
.modal-sobremesa .modal-content-cardapio .modal-header-cardapio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.modal-entrada .modal-content-cardapio .modal-header-cardapio h2,
.modal-principal .modal-content-cardapio .modal-header-cardapio h2,
.modal-sobremesa .modal-content-cardapio .modal-header-cardapio h2{
    font-size:1.5rem;
    color:var(--texto-destaque);
    text-shadow: 1px 1px var(--titulo-sombra);
}
.modal-entrada .modal-content-cardapio .modal-header-cardapio .btn-fechar-entrada,
.modal-principal .modal-content-cardapio .modal-header-cardapio .btn-fechar-principal,
.modal-sobremesa .modal-content-cardapio .modal-header-cardapio .btn-fechar-sobremesa{
    background-color: var(--card-background);
    color:var(--geral);
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.modal-entrada .modal-content-cardapio .modal-header-cardapio .btn-fechar-entrada:hover,
.modal-principal .modal-content-cardapio .modal-header-cardapio .btn-fechar-principal:hover,
.modal-sobremesa .modal-content-cardapio .modal-header-cardapio .btn-fechar-sobremesa:hover{
    background-color: var(--titulo-sombra);
}
.modal-entrada .modal-content-cardapio #add-entrada,
.modal-principal .modal-content-cardapio #add-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid,
.modal-principal .modal-content-cardapio #add-principal .container-grid,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid{
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente{
    width: 100%;
    position:relative;
    margin:5px;
    padding:10px;
    transition: all 0.2s ease-in-out;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .img-comida,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .img-comida,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .img-comida{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 15px;
    border: 1px solid var(--card-background);
    border-radius:10px;
    background-color: var(--texto-destaque);
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .img-comida img,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .img-comida img,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .img-comida img{
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .img-comida p,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .img-comida p,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .img-comida p{
    color:var(--texto);
    font-size:0.7rem;
    text-align: center;
    margin-bottom:10px;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .img-comida button,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .img-comida button,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .img-comida button{
    background-color: var(--geral);
    color: var(--texto-botoes);
    width: 50%;
    border:1px solid var(--card-background);
    border-radius:10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .img-comida button:hover,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .img-comida button:hover,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .img-comida button:hover{
    background-color: #dfdfdf;
    color: var(--texto);
}

.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .componente-input,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .componente-input,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .componente-input{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 5px;
    border: 1px solid var(--card-background);
    border-radius:10px;
    margin-bottom:10px;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .componente-input input,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .componente-input input,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .componente-input input{
    border:none;
    background-color: transparent;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .componente-input input:focus, .componente-input textarea,
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .componente-input input:focus, .componente-input textarea,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .componente-input input:focus, .componente-input textarea{
    outline: none;
    border:none;
    color:var(--texto);
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente .componente-input textarea, 
.modal-principal .modal-content-cardapio #add-principal .container-grid .componente .componente-input textarea,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-grid .componente .componente-input textarea{
    border:none;
    background-color: transparent;
    resize: none;           
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 5px;
    color: var(--texto); /* Altera a cor do texto */
    background-color: var(--geral); /* Altera a cor de fundo */
    border: 1px solid var(--card-background);
    border-radius: 10px;
    appearance: none; /* Remove o estilo padrão do select */
    -webkit-appearance: none;
    -moz-appearance: none;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-btn-comida,
.modal-principal .modal-content-cardapio #add-principal .container-btn-comida,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-btn-comida{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-btn-comida button,
.modal-principal .modal-content-cardapio #add-principal .container-btn-comida button,
.modal-sobremesa .modal-content-cardapio #add-sobremesa .container-btn-comida button{
    background-color: var(--botoes);
    color: var(--texto);
    border:1px solid var(--card-background);
    border-radius: 10px;
    width: 40%;
    height: auto;
    min-height: 5vh;
    font-size:1rem;
    font-weight: bolder;
    text-transform: uppercase;
    cursor:pointer;
    transition: .2s ease-in-out;
}
.modal-entrada .modal-content-cardapio #add-entrada .container-grid .componente select:focus {
    outline: none;
}

.container-cardapio{
    display:flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
.container-cardapio .container-entradas, .container-prato-principal, .container-sobremesas{
    border:1px solid var(--card-background);
    border-radius:10px;
    padding:10px;
    margin-bottom: 10px;
}
.container-cardapio .container-entradas h1, .container-prato-principal h1, .container-sobremesas h1{
    font-size: 1.5rem;
    font-weight: bolder;
    color:var(--titulo);
    margin-bottom: 20px;
    text-decoration: underline;
}
.container-cardapio .container-entradas .container-mais-comida, .container-prato-principal .container-mais-comida, .container-sobremesas .container-mais-comida{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container-cardapio .container-entradas .container-mais-comida .btn-mais-entrada, .container-prato-principal .container-mais-comida .btn-mais-principal, .container-sobremesas .container-mais-comida .btn-mais-sobremesa{
    background-color: var(--botoes);
    color: var(--geral);
    border:none;
    border-radius: 10px;
    width: 100%;
    height: auto;
    font-size:1.5rem;
    font-weight: bolder;
    cursor:pointer;
    transition: .2s ease-in-out;
}
.container-cardapio .container-entradas .container-mais-comida .btn-mais-comida:hover{
    background-color: var(--botoes-hover);
}
