@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
@font-face {
    font-family: 'Bukhari Script';
    src: url('../fonts/BukhariScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --geral:#ffffff;
    --fundo:rgba(81, 81, 81, 0.061);
    --titulo: #606060;
    --titulo-sombra: #60606080;
    --texto: #202020;
    --card-background: #828282;
    --botoes: #ffde00;
    --botoes-hover:#ffdd00c6;
    --texto-destaque:#ffde00;
    --texto-botoes:#202020;
    --transition-speed: 0.3s;
}
body{
    background-color:var(--fundo);
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}
.container-header{
   display: flex;
   flex-direction:row;
   width: 30%;
   height: 20vh;
   align-items: center;
}
.container-header .logo img{
    max-width: 200px;
    width: 100%;
    padding: 10px;
}
.container-header .titulo-logo{
    font-family: 'Bukhari Script', cursive;
    font-style: italic;
    font-size:2rem;
    color:var(--titulo);
}
.container-header .titulo-logo .titulo-destaque{
    color:var(--texto-destaque);
}

.container-principal{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    max-height: 80vh;
    position: relative;
}
.container-principal .container-grid-login{
    display: grid;
    grid-template-columns: 50% 50%;
}
.container-principal .container-grid-login .container-descricao{
    position: relative;
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 100%;
    padding:20px;
}
.container-principal .container-grid-login .container-descricao h1{
    font-size: 2rem;
    font-weight: bolder;
    color:var(--titulo);
    margin-bottom: 20px;
    text-shadow: 0px 2px var(--titulo-sombra);
}
.container-principal .container-grid-login .container-descricao p{
    color:var(--texto);
    text-align: justify;
    font-style: italic;
    width: 50%;
}

.container-principal .container-grid-login .container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    width: 80%;
    border:1px solid var(--titulo);
    height: auto;
    max-height: 80vh;
    background-color: var(--card-background);
    padding:20px;
    border-radius:20px;
    box-shadow: 5px 5px 10px var(--card-background);
}
.container-principal .container-grid-login .container-login select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--geral);
    background-color: transparent;
    color: var(--geral);
    font-size: 0.8rem;
}
.container-principal .container-grid-login .container-login select:focus{
    outline: none;
    border: 1px solid var(--texto-destaque);
    background-color: var(--card-background);
    color: var(--texto-destaque);
}
.container-principal .container-grid-login .container-login h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    color:#fff;
    margin-bottom: 10px;
}
.container-principal .container-grid-login .container-login p{
    font-size: 0.8rem;
    font-weight: lighter;
    color:#fff;
    margin-bottom: 10px;
}
.container-principal .container-grid-login .container-login input{
    border:none;
    background-color: transparent;
    width: 100%;
}   
.container-principal .container-grid-login .container-login .componente{
    width: 100%;
    position:relative;
    margin:5px;
    padding:10px;
    width: 80%;
    border-radius:5px;
    border-bottom: 1px solid var(--geral);
    transition: all 0.2s ease-in-out;
}
.container-principal .container-grid-login .container-login .componente i{
    color:var(--geral);
    transition: all 0.2s ease-in-out;
}
.container-principal .container-grid-login .container-login .componente input{
    width: 85%;
    min-width: 80%;
    padding:5px;
    background: transparent;
    border:none;
    color:var(--geral);
    transition: all 0.2s ease-in-out;
}
.container-principal .container-grid-login .container-login .componente input:focus{
    outline: none;
    border:none;
    color:var(--texto-destaque);
}
.container-principal .container-grid-login .container-login .componente input::placeholder{
    color:var(--titulo);
}
.componente:focus-within{
    box-shadow: 0px 2px var(--texto-destaque);
    border-bottom: 1px solid var(--texto-destaque);
    color:var(--texto-destaque);
}
.container-principal .container-grid-login .container-login .componente:focus-within i{
    color: var(--texto-destaque);
}

.container-principal .container-grid-login .container-login .btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    margin-top: 10px;
}

.container-principal .container-grid-login .container-login .btn-login a{
    text-decoration:none;
    color:var(--geral);
    font-size: 0.8rem;
    transition:.2s ease-in-out;
}
.container-principal .container-grid-login .container-login .btn-login a:hover{
    color:var(--texto-destaque);
    text-decoration: dashed underline;
}
.container-principal .container-grid-login .container-login .btn-login #btn-login{
    min-width: 40%;
    background-color: var(--botoes);
    color:var(--texto-botoes);
    margin:10px 0px;
    padding: 10px 20px;
    border:1px solid var(--card-background);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.container-principal .container-grid-login .container-login .btn-login #btn-login:hover{
    background-color: var(--botoes-hover);
    box-shadow: inset 0px -2px 4px var(--card-background);
}
.container-principal .container-grid-login .container-login .btn-login span{
    color:var(--geral);
    font-size: 0.8rem;
}

.container-principal .container-grid-login .container-login .btn-login .messagemErro{
    color:red;
}