<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../style/style-cardapio.css">
</head>
<body>
    <div class="modal-entrada">
        <div class="modal-content-cardapio">
            <div class="modal-header-cardapio">
                <h2>Cadastro de Entrada e Petiscos</h2>
                <button class="btn-fechar-entrada"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <form id="add-entrada" class="add-entrada">
                <div class="container-grid">
                    <div class="componente">
                        <div class="img-comida">
                            <img src="../image/logo.png" alt="comida">
                            <p>Faça o upload de uma imagem 'jpg', 'jpeg', 'png' ou 'webp</p>
                            <button type="button" class="btn-img">Upload</button>
                            <input type="file" id="upload-img-entrada" accept="image/jpeg, image/png, image/webp, image/jpg" style="display: none;">
                        </div>
                    </div>
                    <div class="componente">
                        <div class="componente-input">
                            <input type="text" name="nome-entrada" id="nome-entrada" placeholder="Nome da Comida" required>
                        </div>
                        <div class="componente-input">
                            <textarea name="descricao-entrada" id="descricao-entrada" placeholder="Descricao da Comida" rows="2" cols="2" maxlength="200"></textarea>
                        </div>
                        
                        <select name="tamanho-entrada" id="tamanho-entrada">
                            <option value="" selected disabled>Selecione o tamanho</option>
                            <option value="pequeno">P</option>
                            <option value="medio">M</option>
                            <option value="grande">G</option>
                        </select>
                        
                        <div class="componente-input">
                            <input type="number" name="valor-entrada" id="valor-entrada" placeholder="Valor" required>
                        </div>
                    </div>
                </div>
                <div class="container-btn-comida">
                    <span class="error_message_modal"></span>
                    <button type="submit" id="btn-adicionar-entrada">Adicionar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-principal">
        <div class="modal-content-cardapio">
            <div class="modal-header-cardapio">
                <h2>Cadastro de Prato Principal</h2>
                <button class="btn-fechar-principal"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <form id="add-principal" class="add-principal">
                <div class="container-grid">
                    <div class="componente">
                        <div class="img-comida">
                            <img src="../image/logo.png" alt="comida">
                            <p>Faça o upload de uma imagem 'jpg', 'jpeg', 'png' ou 'webp</p>
                            <button type="button" class="btn-img">Upload</button>
                            <input type="file" id="upload-img-principal" accept="image/jpeg, image/png, image/webp, image/jpg" style="display: none;">
                        </div>
                    </div>
                    <div class="componente">
                        <div class="componente-input">
                            <input type="text" name="nome-principal" id="nome-principal" placeholder="Nome da Comida" required>
                        </div>
                        <div class="componente-input">
                            <textarea name="descricao-principal" id="descricao-principal" placeholder="Descricao da Comida" rows="2" cols="2" maxlength="200"></textarea>
                        </div>
                        <div class="componente-input">
                            <input type="number" name="valor-principal" id="valor-principal" placeholder="Valor" required>
                        </div>
                    </div>
                </div>
                <div class="container-btn-comida">
                    <span class="error_message_modal"></span>
                    <button type="submit" id="btn-adicionar-principal">Adicionar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-sobremesa">
        <div class="modal-content-cardapio">
            <div class="modal-header-cardapio">
                <h2>Cadastro de Sobremesas</h2>
                <button class="btn-fechar-sobremesa"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <form id="add-sobremesa" class="add-sobremesa">
                <div class="container-grid">
                    <div class="componente">
                        <div class="img-comida">
                            <img src="../image/logo.png" alt="comida">
                            <p>Faça o upload de uma imagem 'jpg', 'jpeg', 'png' ou 'webp</p>
                            <button type="button" class="btn-img">Upload</button>
                             <input type="file" id="upload-img-sobremesa" accept="image/jpeg, image/png, image/webp, image/jpg" style="display: none;">
                        </div>
                    </div>
                    <div class="componente">
                        <div class="componente-input">
                            <input type="text" name="nome-sobremesa" id="nome-sobremesa" placeholder="Nome da Sobremesa" required>
                        </div>
                        <div class="componente-input">
                            <textarea name="descricao-sobremesa" id="descricao-sobremesa" placeholder="Descricao da Sobremesa" rows="2" cols="2" maxlength="200"></textarea>
                        </div>
                        <div class="componente-input">
                            <input type="number" name="valor-sobremesa" id="valor-sobremesa" placeholder="Valor" required>
                        </div>
                    </div>
                </div>
                <div class="container-btn-comida">
                    <span class="error_message_modal"></span>
                    <button type="submit" id="btn-adicionar-sobremesa">Adicionar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-bebida">
        <div class="modal-content-cardapio">
            <div class="modal-header-cardapio">
                <h2>Cadastro de Bebidas</h2>
                <button class="btn-fechar-bebida"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <form id="add-bebida" class="add-bebida">
                <div class="container-grid">
                    <div class="componente">
                        <div class="img-comida">
                            <img src="../image/logo.png" alt="bebida">
                            <p>Faça o upload de uma imagem 'jpg', 'jpeg', 'png' ou 'webp</p>
                            <button type="button" class="btn-img">Upload</button>
                            <input type="file" id="upload-img-bebida" accept="image/jpeg, image/png, image/webp, image/jpg" style="display: none;">
                        </div>
                    </div>
                    <div class="componente">
                        <div class="componente-input">
                            <input type="text" name="nome-bebida" id="nome-bebida" placeholder="Nome da Bebida" required>
                        </div>
                        <div class="componente-input">
                            <input type="text" name="tamanho-bebida" id="tamanho-bebida" placeholder="Tamanho da Bebida" required>
                        </div>
                        <div class="componente-input">
                            <input type="number" step="0.01" name="valor-bebida" id="valor-bebida" placeholder="Valor" required>
                        </div>
                        <div class="componente-input">
                            <input type="number" name="quantidade-bebida" id="quantidade-bebida" placeholder="Quantidade" required>
                        </div>
                        <div class="componente-input">
                            <select name="tipo-de-bebida-geral" id="tipo-de-bebida-geral" required>
                                <option value="" selected disabled>Selecione o Tipo</option>
                                <option value="nao-alcoolica">Não Alcoólica</option>
                                <option value="alcoolica">Alcoólica</option>
                            </select>
                        </div>
                        <div class="componente-input hidden-field" id="campo-tipo-embalagem">
                            <input type="text" name="tipo-embalagem" id="tipo-embalagem" placeholder="Tipo de Embalagem (ex: Lata, Garrafa PET)" >
                        </div>
                        <div class="componente-input hidden-field" id="campo-tipo-bebida-alcoolica">
                            <input type="text" name="tipo-bebida-alcoolica" id="tipo-bebida-alcoolica" placeholder="Tipo de Bebida (ex: Cerveja, Vinho, Vodka)" >
                        </div>
                    </div>
                </div>
                <div class="container-btn-comida">
                    <span class="error_message_modal"></span>
                    <button type="submit" id="btn-adicionar-bebida">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
    <header>
        <div class="container-header">
            <div class="logo">
                <img src="../image/logo.png" alt="Logo StaffCom">
            </div>
            <h1 class="titulo-logo">Cardapio</h1>
        </div>
    </header>
    <main>
        <div class="container-cardapio">
            <div class="container-entradas">
                <h1>Entradas e Petiscos</h1>
                <div class="container-entradas-grid">
                    
                </div>
                <div class="container-mais-comida">
                    <button type="button" class="btn-mais-entrada">+</button>
                </div>
            </div>
            <div class="container-prato-principal">
                <h1>Prato Principal</h1>
                <div class="container-principal-grid">
                    
                </div>
                <div class="container-mais-comida">
                    <button type="button" class="btn-mais-principal">+</button>
                </div>
            </div>
            <div class="container-sobremesas">
                <h1>Sobremesas</h1>
                <div class="container-sobremesas-grid">
                    
                </div>
                <div class="container-mais-comida">
                    <button type="button" class="btn-mais-sobremesa">+</button>
                </div>
            </div>
            <div class="container-bebidas">
                <h1>Bebidas</h1>
                <div class="container-bebidas-grid">
                    
                </div>
                <div class="container-mais-comida">
                    <button type="button" class="btn-mais-bebida">+</button>
                </div>
            </div>
        </div>
        <div class="container-btn">
            <button type="button" class="btn-salvar-cardapio"><a href="../views/homeDono.hmtl">Salvar Cardapio</a></button>
            <button type="button" class="btn-voltar-cardapio"><a href="../index.html">Voltar</a></button>
        </div>
    </main>
    <script src="../javascript/add-cardapio.js"></script>
    
</body>
</html>