<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../style/spinner.css">
    <link rel="stylesheet" href="../style/style-comandas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Home</title>
</head>
<body>
    <div class="container-spinner">
        <div class="overlay-spinner" >
            <div class="spinner"></div>
        </div>
    </div>
    <header>
        <h1>Controle de Comandas</h1>
        <div class="container-btn">
            <button  id="btn-comanda"><i class="fa-solid fa-plus"></i></button>
        </div>
    </header>
    <main>
        <div class="container-infos">
            <div class="total-mesa">
                <h2><i class="fa-solid fa-users-between-lines"></i></h2>
                <span>Total<p id="total-comandas">0</p></span>

            </div>
            <div class="total-comandas-abertas">
                <h2><i class="fa-solid fa-clock"></i></h2>
                <span>Total <p id="total-comandas-abertas">0</p></span>
            </div>
            <div class="faturamento">
                <h2><i class="fa-solid fa-dollar-sign"></i></h2>
                <span>Total<p id="faturamento">00,00</p></span>
            </div>
        </div>
        <div class="overlay-modal-comanda">
            <div class="modal-comanda">
                <div class="modal-header-comanda">
                    <h2>Nova Comanda</h2>
                    <button class="btn-fechar-comanda"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <form id="add-comanda" class="add-comanda">
                    <div class="componente-input">
                        <input type="number" name="numero-mesa" id="numero-mesa" placeholder="Número da Mesa" required>
                    </div>
                    <div class="componente-btns">
                        <p class="mensagem-erro"></p>
                        <button type="submit" id="btn-add-comanda">Criar Comanda</button>
                    </div>
                </form>
                <form id="add-item-comanda" class="add-item-comanda">
                    <div class="container-cardapio">
                        <div class="container-entradas">
                            <h2>Entradas</h2>
                            <div class="cardapio-entradas">
                               
                            </div>

                        </div>
                        <div class="container-prato-principal">
                            <h2>Prato Principal</h2>
                            <div class="cardapio-principal">
                               
                            </div>

                        </div>
                        <div class="container-bebidas">
                            <h2>Bebidas</h2>
                            <div class="cardapio-bebidas">
                                
                            </div>

                        </div>
                    </div>
                    <div class="btn-modal">
                        <button type="button" class="btn-fechar-comanda-salva">Salvar Comanda</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-principal">
            <div class="container-grid-comandas">
        </div>
    </main>
    <script src="../javascript/comandas.js"></script>
</body>
</html>