<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style-menu.css">
    <link rel="stylesheet" href="../style/style-spinner.css">
    <link rel="stylesheet" href="../style/style-funcionarios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Funcionarios</title>
</head>
<body>
    <header>
        <nav class="side-menu">
      <div class="image-menu">
        <img src="../image/logo.png" alt="logo">
      </div>
      <ul>
        <li class="menu-item">
          <a href="../views/conta.html">
            <span class="icon"><i class="fa-solid fa-user"></i></span>
            <span class="txt-link">Dados</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="../views/trainning.html">
            <span class="icon"><i class="fa-solid fa-users"></i></span>
            <span class="txt-link">Funcionarios</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="../views/contato.html">
            <span class="icon"><i class="fa-solid fa-utensils"></i></span>
            <span class="txt-link">Cardapio</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="../views/contato.html">
            <span class="icon"><i class="fa-solid fa-hand-holding-dollar"></i></span>
            <span class="txt-link">Financeiro</span>
          </a>
        </li>
        <li class="menu-item">
          <button id="logout">
            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
            <span class="txt-link">Sair</span>
          </button>
        </li>
      </ul>
    </nav>
    </header>
    <main>
        <div class="container-spinner">
            <div class="overlay-spinner" >
                <div class="spinner"></div>
            </div>
        </div>
        <div class="container-header">
            <div class="container-header-data">
                <h1>Gerenciamento</h1>
                <button type="button" class="btn-add-funcionario">Adicionar Funcionario</button>
            </div>
        </div>
        <div class="container-principal">
            <h1>Funcionários</h1>
            <p>Lista de funcionários cadastrados no sistema.</p>
            <table id="tabela-funcionarios">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Salario</th>
                        <th>CPF</th>
                        <th>Numero</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tbody-funcionarios">
                    <!-- Os dados dos funcionários serão inseridos aqui dinamicamente -->
                    <tr>
                        <td>João Silva</td>
                        <td>Gerente</td>
                        <td>R$ 3000,00</td>
                        <td>123.456.789-00</td>
                        <td>(11) 98765-4321</td>
                        <td>
                            <button class="btn-edit-funcionario"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn-delete-funcionario"><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="../javascript/add-funcionarios"></script>
    
</body>
</html>